In [4]:
student = {'name': '김철수', 'age': 20, 'major': '컴퓨터공학'}
print(student['name'])
print(student['age'])

김철수
20

In [ ]:
### 문제 2-1. 딕셔너리 생성 및 조작
#다음 조건에 맞는 딕셔너리를 생성하고 조작하시오.


# 1. 다음 정보를 담는 딕셔너리를 만드시오
#    - 이름: 본인 이름
#    - 나이: 본인 나이
#    - 취미: 본인 취미 (리스트로 여러 개)
#    - 거주지: 본인 거주지

# 2. 위 딕셔너리에 '직업' 항목을 추가하시오

# 3. '취미' 항목에 새로운 취미를 추가하시오

# 4. '나이' 항목의 값을 1 증가시키시오

# 5. 모든 key와 value를 출력하시오

SyntaxError: invalid syntax (1444504483.py, line 2)

In [17]:
# 1. 다음 정보를 담는 딕셔너리를 만드시오
#    - 이름: 본인 이름
#    - 나이: 본인 나이
#    - 취미: 본인 취미 (리스트로 여러 개)
#    - 거주지: 본인 거주지

a ={
    'name' : 'enee' , 'age' : 32 , 'hobby': ['yoga','workout','self_development'],
'location' : 'phohang'}
print(a['name'])
print(a['age'])
print(a['hobby'])
print(a["location"])

# 2. 위 딕셔너리에 '직업' 항목을 추가하시오
a['occupation'] = 'student'
print(a['occupation'])

# 3. '취미' 항목에 새로운 취미를 추가하시오
a['hobby'].append('reading')
print(a['hobby'])
# 4. '나이' 항목의 값을 1 증가시키시오

a["age"]+=1
print(a['age'])

# 5. 모든 key와 value를 출력하시오

enee
32
['yoga', 'workout', 'self_development']
phohang
student
['yoga', 'workout', 'self_development', 'reading']
33

In [13]:
# 1. 다음 정보를 담는 딕셔너리를 만드시오
#    - 이름: 본인 이름
#    - 나이: 본인 나이
#    - 취미: 본인 취미 (리스트로 여러 개)
#    - 거주지: 본인 거주지

a ={
    'name' : 'enee' , 'age' : 32 , 'hobby': ['yoga','workout','self_development'],
'location' : 'phohang'}

# 2. 위 딕셔너리에 '직업' 항목을 추가하시오
a['occupation'] = 'student'

# 3. '취미' 항목에 새로운 취미를 추가하시오
a['hobby'].append('reading')

# 4. '나이' 항목의 값을 1 증가시키시오

a["age"]+=1

# 5. 모든 key와 value를 출력하시오

In [ ]:
### 문제 2-2. 딕셔너리 함수 활용
#다음 딕셔너리가 주어졌을 때, 각 요구사항을 수행하시오.


fruits = {
    'apple': 1000,
    'banana': 1500,
    'orange': 2000,
    'grape': 3000
}

# 1. 모든 과일 이름(key)을 리스트로 출력하시오
fruits.keys()
list(fruits.keys()) 
print(list(fruits.keys()))

# 2. 모든 가격(value)을 리스트로 출력하시오
fruits.values()
list(fruits.values()) 
print(list(fruits.values()))

# 3. 'banana'의 가격을 출력하시오
print(fruits['banana'])

# 4. 'melon'이 딕셔너리에 있는지 확인하시오
print('melon in fruits')

# 5. 'grape'를 pop() 함수를 사용하여 삭제하고, 삭제된 값을 출력하시오
grape = fruits.pop('grape')
print(grape)

['apple', 'banana', 'orange', 'grape']
[1000, 1500, 2000, 3000]
1500
melon in fruits
3000

In [ ]:
### 문제 3-1. 성적 관리 프로그램
#학생들의 성적을 관리하는 프로그램을 작성하시오.

# 다음 학생들의 성적 정보를 딕셔너리로 저장하시오
# 학생1: 이름=김민수, 국어=85, 영어=90, 수학=78
# 학생2: 이름=이영희, 국어=92, 영어=88, 수학=95
# 학생3: 이름=박철수, 국어=78, 영어=85, 수학=82

grade = {
    "김민수": {"국어": "85점", "영어": "90점", "수학":"78점"},
    "이영희": {"국어":"92점", "영어": "88점", "수학":"95점"},
    "박철수": {"국어":"78점", "영어":"85점", "수학":"82점"}
}

# 김민수
total = grade["김민수"]["국어"] + grade["김민수"]["영어"] + grade["김민수"]["수학"]
avg = total / 3
print("이름: 김민수")
print("국어:", grade["김민수"]["국어"], "점, 영어:", grade["김민수"]["영어"], "점, 수학:", grade["김민수"]["수학"], "점")
print("총점:", total, "점, 평균:", round(avg,2), "점")
print()

# 요구사항:
# 1. 각 학생의 총점과 평균을 계산하여 딕셔너리에 추가
# 2. 각 학생의 정보를 보기 좋게 출력
# 3. 평균이 가장 높은 학생 찾기


print("===학생 성적  관리 ===")  #학생 성적 관리는" 문자열이긴하지만 []안하는이유느는 grade에서 꺼내는게 아니기때문
print("김민수")
print("국어:", grade["김민수"]["국어"])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [32]:
**출력 예시:**

=== 학생 성적 관리 ===
이름: 김민수
국어: 85점, 영어: 90점, 수학: 78점
총점: 253점, 평균: 84.33점
---
이름: 이영희
국어: 92점, 영어: 88점, 수학: 95점
총점: 275점, 평균: 91.67점
---
이름: 박철수
국어: 78점, 영어: 85점, 수학: 82점
총점: 245점, 평균: 81.67점
---
최고 성적 학생: 이영희 (평균: 91.67점)

SyntaxError: invalid syntax (1912445527.py, line 1)

In [41]:
### 문제 3-1. 성적 관리 프로그램
#학생들의 성적을 관리하는 프로그램을 작성하시오.

# 다음 학생들의 성적 정보를 딕셔너리로 저장하시오
# 학생1: 이름=김민수, 국어=85, 영어=90, 수학=78
# 학생2: 이름=이영희, 국어=92, 영어=88, 수학=95
# 학생3: 이름=박철수, 국어=78, 영어=85, 수학=82

# 요구사항:
# 1. 각 학생의 총점과 평균을 계산하여 딕셔너리에 추가
# 2. 각 학생의 정보를 보기 좋게 출력
# 3. 평균이 가장 높은 학생 찾기

grade = { 
    "이름" : "김민수",                               
    "국어" : "85점", "영어" : "90점" , "수학" : "78점"
}
print(grade)

{'이름': '김민수', '국어': '85점', '영어': '90점', '수학': '78점'}

In [ ]:

### 문제 3-2. 단어 카운터
#문자열에서 각 단어가 몇 번 등장하는지 세는 프로그램을 작성하시오.

text = "python is great python is fun python is powerful"

# 요구사항:
# 1. 문자열을 공백으로 분리하여 단어 리스트 만들기
# 2. 딕셔너리를 사용하여 각 단어의 등장 횟수 세기
# 3. 결과를 출력

# 힌트: 
# - 딕셔너리에 key가 없을 때 get() 함수의 default 값 활용
# - 또는 'word' in dict_name 으로 확인


#**출력 예시:**

#python: 3번
#is: 3번
#great: 1번
#fun: 1번
#powerful: 1번

In [60]:
print("=== 학생 성적 관리 ===")

# 학생별 점수 딕셔너리
grade = {
    "김민수": {"국어":85, "영어":90, "수학":78},
    "이영희": {"국어":92, "영어":88, "수학":95},
    "박철수": {"국어":78, "영어":85, "수학":82}
}

# 최고 평균 저장용 변수
top_student = ""
top_avg = 0

# 김민수
total = grade["김민수"]["국어"] + grade["김민수"]["영어"] + grade["김민수"]["수학"]
avg = total / 3
print("이름: 김민수")
print("국어:", grade["김민수"]["국어"], "점, 영어:", grade["김민수"]["영어"], "점, 수학:", grade["김민수"]["수학"], "점")
print("총점:", total, "점, 평균:", "{:.2f}".format(avg), "점")
print("---")
if avg > top_avg:
    top_avg = avg
    top_student = "김민수"

# 이영희
total = grade["이영희"]["국어"] + grade["이영희"]["영어"] + grade["이영희"]["수학"]
avg = total / 3
print("이름: 이영희")
print("국어:", grade["이영희"]["국어"], "점, 영어:", grade["이영희"]["영어"], "점, 수학:", grade["이영희"]["수학"], "점")
print("총점:", total, "점, 평균:", "{:.2f}".format(avg), "점")
print("---")
if avg > top_avg:
    top_avg = avg
    top_student = "이영희"

# 박철수
total = grade["박철수"]["국어"] + grade["박철수"]["영어"] + grade["박철수"]["수학"]
avg = total / 3
print("이름: 박철수")
print("국어:", grade["박철수"]["국어"], "점, 영어:", grade["박철수"]["영어"], "점, 수학:", grade["박철수"]["수학"], "점")
print("총점:", total, "점, 평균:", "{:.2f}".format(avg), "점")
print("---")
if avg > top_avg:
    top_avg = avg
    top_student = "박철수"

# 최고 성적 학생 출력
print("최고 성적 학생:", top_student, "(평균:", "{:.2f}".format(top_avg), "점)")

=== 학생 성적 관리 ===
이름: 김민수
국어: 85 점, 영어: 90 점, 수학: 78 점
총점: 253 점, 평균: 84.33 점
---
이름: 이영희
국어: 92 점, 영어: 88 점, 수학: 95 점
총점: 275 점, 평균: 91.67 점
---
이름: 박철수
국어: 78 점, 영어: 85 점, 수학: 82 점
총점: 245 점, 평균: 81.67 점
---
최고 성적 학생: 이영희 (평균: 91.67 점)

In [64]:
text = "python is great python is fun python is powerful"

# 1. 공백으로 분리하여 단어 리스트 만들기
words = text.split(" ")

# 2. 단어 등장 횟수 세기
word_count = {}

# 단어 하나씩 확인하며 개수 세기
for w in words:
    # key가 없으면 0, 있으면 현재 값 +1
    word_count[w] = word_count.get(w, 0) + 1

# 3. 결과 출력
print("=== 단어 등장 횟수 ===")
print("python:", word_count["python"], "번")
print("is:", word_count["is"], "번")
print("great:", word_count["great"], "번")
print("fun:", word_count["fun"], "번")
print("powerful:", word_count["powerful"], "번")

=== 단어 등장 횟수 ===
python: 3 번
is: 3 번
great: 1 번
fun: 1 번
powerful: 1 번

In [65]:
# 1)
s1 = set("Hello")
print(s1)

# 2)
s2 = set([1, 2, 3, 2, 1, 3, 4])
print(s2)

# 3)
s3 = {}
print(type(s3))

{'l', 'o', 'H', 'e'}
{1, 2, 3, 4}
<class 'dict'>

In [70]:
a_class = {'김철수', '이영희', '박민수', '최지영', '홍길동'}
b_class = {'박민수', '최지영', '정수민', '강호동', '이영희'}

# 4. B반에만 있는 학생 (차집합)


print("차집합 : ", b_class - a_class )

차집합 :  {'강호동', '정수민'}