In [ ]:
#리스트는 어떻게 만들까?
#대괄호가 나오면 리스트 (엑셀의 범위같은 개념)) 파이썬은 변수를 따로 안 적어도 타입을 알아서 인식해줌 
#문자, 딕셔너딕셔너리(Dictionary), 숫자, 문자 ,숫자문자 혼합가능 
#딕셔너리는 dir()표기 또는 중괄호{}
#odd는 홀수라는 의미 / even는 짝수라는 의미
odd=[1,3,5,7,9]

a=[]
b=[1,2,3]
c=["life","is","short"]
d=[1,2,["life","is"]]

In [28]:
#리스트의 인덱싱

a=[1,2,3]
a[0]
a[0]+a[2]

4

In [29]:
a=[1,2,3,["a","b","c"]]
a[3][-1]

'c'

In [26]:
#리스트의 슬라이싱 
a=[1,2,3,4,5]
a[0:1+1]
a[0:3+1]

[1, 2, 3, 4]

In [ ]:
a=[1,2,3,["a","b","c"],4,5]
a[3][0:2]

['a', 'b']

In [9]:
#리스트 더하기 
a=[1,2,3,]
b=[4,5,6]

a+b

[1, 2, 3, 4, 5, 6]

In [11]:
#리스트 곱하기 
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#리스트 길이 구하기 (len은 함수 길이)) 인썰트.. a 를 집어넣으면 아웃풋 5를 나타냄 인수를 집어넣으면..?
a=[1,2,3,4,5]
len(a)

5

In [ ]:
#리스트의 수정과 삭제
a=[1,2,3]
a[2]=4

[1,2,4]

In [ ]:
#del로 리스트 요소 삭제
a=[1,2,3]
del a[1]
print(a)

[1, 3]

[1, 3]

In [ ]:
#리스트 관련 함수 
##리스트 요소 추가하기 = append()

a=[1,2,3]
#b = [4]
#a+b 
#print(a)
a.append(4)
a

[1, 2, 3, 4]

In [33]:
#리스트 정렬 -sort
a=[1,4,3,2]
a.sort()
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [ ]:

# a = [1, 4, 3, 2]

a.sort()                # 오름차순(Ascending)
print(a)                # [1, 2, 3, 4]

a.sort(reverse=True)    # 내림차순(Descending)
print(a)                # [4, 3, 2, 1]

#reverse= 뒤집겠다 
#bool 참과 거짓

In [ ]:
a=["a","c","b","d"]
a.sort()
a.sort()

["a", "b", "c", "d"]

In [35]:
a=["b,","c","a"]
a.reverse()
a

['a', 'c', 'b,']

In [ ]:
#인덱스 반환하는 함수 - index 
# 리스트 a에서 값 1이 있는 위치의 인덱스를 반환
a=[1,2,3]
a.index(1)  # 값 1의 인덱스 반환 → 0
a.index(2)  # 값 2의 인덱스 반환 → 1
a.index(3)  # 값 3의 인덱스 반환 → 2

2

In [ ]:
#리스트에 요소 삽입
#insert(삽입할 위치, 삽입할 값)
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [43]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [ ]:
#리스트요소 제거 -remove
# 리스트에서 "첫 번째로 나오는 3" 제거
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [ ]:
#리스트 요소 꺼내기 -pop (기본값이 -1일임 그래서 뒤에서부터 3이 없어지고 값이 1,2가 나옴)
# 리스트 a의 마지막 요소를 제거하고 그 값을 반환
#pop() → 마지막 요소 제거
#pop(-1) → 마지막 요소 제거 (기본값) ->  pop()=pop(-1)
#pop(0) → 첫 번째 요소 제거
#제거된 값은 반환됨

a=[1,2,3]
a.pop()
a

[1, 2]

In [ ]:
a=[1,2,3]
a.pop(1)
a

[1, 3]

In [ ]:
#리스트에 포함된 요소 x의 개수 세기 -count
#count(값) → 리스트 안에서 그 값이 몇 개 있는지 세는 함수
a=[1,2,3,1]
a.count(2) #리스트 안에서 2가 몇 번 등장?

1

In [52]:
#리스트 확장 - extend
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]